.projects-title {
  margin: 3em auto 1em 2em;
}

.btn {
  color: white;
  border-color: white;
}

.btn:hover {
  background-color: white;
  border-color: white;
  color: #fff;
}

.projects-body {
  min-height: 270px;
}

.project-buttons {
  height: 90px;
}

@media (max-width: 767px) {
  .projects-title {
    margin: 3em auto 1em 1em;
  }
}
