.social-links{
    display:flex;
    justify-content: space-between;
    width:50%;
    margin:auto;
    padding:1em;
    margin-top:10em;
}
.social-links i{
    color:black;
    opacity:0.7;
    font-size: 5em;
}
.social-links i:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color:#ff4081;
    opacity:1;
  }
.contact-container{
    margin: 30em auto 10em 15em;
}

.contact-title{
    margin: 1em auto 1em 0.5em;
}